h1 {
  text-align: center; 
}
h2 {
  text-align: center;
  color: blue;
  font-family: sans-serif ;
  padding: 20 px;

}
table {
  border: 1px solid;
margin: 0 auto;
}
th td{text-align: left; margin: 15 px;}
.code {
  font-family:monospace;
  background-color: rgb(247, 240, 238);
}
.headers {
  text-align: center;
  background-color: aqua;
  font-family: sans-serif;
  color: darkblue;
 padding: 30px;
}